

body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

a:active, a:visited {
  color: black;
}

h2 {
  text-align: center;
  font-size: 2.7rem;
}


.disclaimer-strip {
  margin: 0;
  padding: .001rem 0;
  text-align: center;
  background-color: rgb(229, 183, 35);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  letter-spacing: 3.7px;
}

.navigation-bar {
  display: flex;
  background-color: #F0E9E6;
  box-shadow: 0 0 20px black;
  padding: .75rem 2rem;
  top: 0;
  position: sticky;
  z-index: 2;
}

.navigation-bar a {
  width: 15%;
}

.navigation-bar .page-title {
  width: 100%;
}

.nav-links {
  margin: 3rem 0  0 12rem;
  font-size: 1.25rem;
  display: flex;
  letter-spacing: .07rem;
  gap: 5rem;
  list-style: none;
}

.hero-image-section {
  display: flex;
}

.hero-image-slides {
  background-image: url('images/open_blue_terra.jpeg');
  background-size: cover;
  height: 90vh;
  width: 55vw;
}

.hero-shop-button {
  margin: 32rem 0 0 18rem;
  padding: 1.2rem 3rem;
  background-color: #1E2F23;
  border-radius: 7px;
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

.logo-section {
  background-image: url('images/STlogo.png');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25rem 25rem;
  width: 45vw;
  height: 90vh;
}

.welcome-line {
  margin-top: 2.7rem;
}

.marketplace-line {
  margin-top: 30rem;
  font-size: 33px;
  letter-spacing: .07rem;
  font-weight: 300;
}

.expectation-section {
  background-color: #1E2F23;
  padding: 4rem 0;
}

.expectation-section h2 {
  color: #FFF;
}

.standout-list {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.custom-designs {
  background-image: url('images/terrarium_planter.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -2.5rem -3rem;
  height: 50vh;
  width: 25vw;
}

.eco-friendly-materials {
  background-image: url('images/eco_friendly_terra.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -1.7rem -3rem;
  height: 50vh;
  width: 25vw;
}
.award-winning {
  background-image: url('images/terrarium_row.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -1.7rem -3rem;
  height: 50vh;
  width: 25vw;
}

.standout-square p {
  text-align: center;
  margin-top: 16.5rem;
  padding: 1.7rem;
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  background-color: #B39C4D;
  color: white;
}

.featured-plant-section {
  display: flex;
}

.featured-info {
  text-align: center;
}

.featured-info .heading {
  font-weight: bolder;
  font-size: larger;
}

.featured-info, .featured-image-container {
  text-align: center;
  padding: 4rem 0rem 15rem 0rem;
  border: 1px solid #fff;
  width: 50%;
}

.featured-image-container {
  background-color: #F0E9E6;
}

.featured-info h3, .featured-image-container h3 {
  font-size: 2rem;
}

.featured-image {
  height: 90%;
  width: 40%;
  margin: 1.7rem 0 0 13.5rem;
  background-image: url('images/eco_friendly_terra.jpeg');
  background-size: 120% 100%;
  background-position: -1rem 0rem;
  border-radius: 7px;
}

.get-featured-button {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  font-weight: bold;
  color: #1E2F23;
  font-size: 20px;
  border-color: #1E2F23;
  background-color: #fff;
}

.get-featured-button:hover {
  background-color: #1E2F23;
  color: white;
}

.terrarium-videos {
  padding: 7rem;
}

.terrarium-videos video {
  border-radius: .8rem;
}

.terrarium-videos h2 {
  padding-bottom: 2.5rem;
}

.terrarium-videos section {
  display: flex;
  justify-content: center;
  gap: 6.5rem;
}

.custom-orders {
  scroll-margin-top: 118px;
  padding: 2.5rem;
  background-color: #768948;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.custom-terrarium-button {
  background-color: #768948;
  padding: 1rem 2.5rem;
  border: 2px solid #1E2F23;
  font-weight: 700;
}

.custom-terrarium-button:hover {
  background-color: #1E2F23;
  color: #FFF;
}

.custom-orders h3 {
  font-size: 26px;
  margin: 0;
}

.thank-you-custom-order, .thank-you-for-contact {
  display: flex;
  justify-content: center;
  gap: 6rem;
  padding: 4rem;
}

.thank-you-custom-order article, 
.thank-you-custom-order img, 
.thank-you-for-contact article, 
.thank-you-for-contact img {
  width: 40%;
}

.thank-you-custom-order article p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.thank-you-custom-order img {
  height: 70vh;
}

.input-field {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

.required-text {
  color: red;
}

input {
  width: 100%;
  padding: 1rem;
}

textarea {
  padding: 1rem;
  width: 100%;
}

.care-tips-intro h2, .care-tips-intro p {
  padding: 3rem 10rem 1rem;
  margin: 0;
}

.care-tips-intro p {
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.care-tips-intro ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  text-decoration: underline;
  gap: 6rem;
  list-style: none;
}

.care-tips-intro img {
  display: block;
  width: 55%;
  height: 32rem;
  margin: auto;
}

.closed-terrariums, .open-terrariums {
  scroll-margin-top: 130px;

}

.closed-terrariums h3, .open-terrariums h3, .general-tips h3 {
  margin-top: 6rem;
  text-align: center;
  font-size: 24px;
}

.closed-terrariums img {
  margin: 1rem 6rem;
  width: 30%;
  height: 32rem;
}

.ct-top-section, .ot-top-section {
  margin-top: 5rem;
  display: flex;
  gap: 3.2rem;
}

.ct-right-of-img, .ot-left-of-img {
  display: flex;
  font-size: 20px;
  line-height: 2rem;
  width: 40%;
  flex-direction: column;
}

.ot-left-of-img {
  margin: 1rem 5rem;
}

.ct-maintenance-section, .ot-maintenance-section {
  margin: 4rem 3.5rem;
  font-size: 20px;
  line-height: 2rem;
}

.open-terrariums img {
  margin: 1rem 3rem;
  width: 31%;
  height: 28.5rem;
}

.general-tips {
  scroll-margin-top: 130px;
  margin: 4rem 18rem;
  font-size: 20px;
  line-height: 2rem;
}

.general-tips ul {
  padding-top: 2rem;
}

.general-inquiries-button {
  padding: 1rem 2.5rem;
  background-color: #fff;
  border: 2px solid black;
  font-weight: 800;
}

.general-inquiries-button:hover {
  background-color: rgb(229, 183, 35);
  border: 2px solid #fff;
  color: #FFF;
}

.about-founder-section {
  display: flex;
}

.about-paragraph {
  padding: 3rem;
  width: 60%;
  height: 70vh;
}

.about-founder-section img {
  padding: 3rem;
  width: 37%;
}

.about-paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
}


.main-contact-section p {
  margin: 5rem 14rem;
  text-align: center;
  font-size: 20px;
  line-height: 2rem;
}

.contact-page-section {
  display: flex;
  padding-bottom: 5rem;
}

.contact-form-section {
  padding: .2rem 0 0 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  width: 45%;
}

.contact-page-image {
  background-image: url('images/terrarium_jarwithlid.jpeg');
  width: 45%;
  background-size: cover;
  background-position: 0rem -9rem;
}

.footer {
  font-size: 20px;
  padding: 5rem;
  background-color: #1E2F23;
}

.footer ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
}

.top-of-footer img {
  width: 15%;
  height: 24%;
  border-radius: 10px;
  padding-bottom: 2rem;
}

.footer .socials-logos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.socials-logos a {
  width: 2%;
}

.socials-logos img {
  width: 100%;
}

.copyright-section {
  text-align: center;
}

.copyright-section p {
  padding-top: 1.7rem;
  margin-bottom: 0;
}

.top-of-footer {
  width: 100%;
  display: flex;
  gap: 25rem;
}