/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  margin: 0;
}


.disclaimer-strip {
  margin: 0;
  padding: .001rem 0;
  text-align: center;
  background-color: rgb(229, 183, 35);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  letter-spacing: 3.7px;
}

.navigation-bar {
  display: flex;
  background-color: #F0E9E6;
  box-shadow: 0 0 20px black;
  padding: 1rem 2rem;
  top: 0;
  position: sticky;
  z-index: 2;
}

.nav-links {
  margin: 2rem 0  0 20rem;
  display: flex;
  gap: 5rem;
  list-style: none;
}

.hero-image-section {
  display: flex;
}

.hero-image-slides {
  background-image: url('images/open_blue_terra.jpeg');
  background-size: cover;
  height: 90vh;
  width: 55vw;
}

.hero-shop-button {
  border-color: white;
  margin: 32rem 0 0 1rem;
  padding: 1.2rem 3rem;
  background-color: #768948;
  border-radius: 7px;
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.logo-section {
  background-image: url('images/STlogo.png');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30rem 25rem;
  width: 45vw;
  height: 90vh;
}

.welcome-line {
  margin-top: 2.7rem;
}

.marketplace-line {
  margin-top: 32rem;
  font-size: 33px;
}

.expectation-section {
  background-color: #1E2F23;
  padding: 4rem 0;
}

.expectation-section h2 {
  text-align: center;
  color: #FFF;
  font-size: 2.7rem;
}

.standout-list {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.custom-designs {
  background-image: url('images/terrarium_planter.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -2.5rem -3rem;
  height: 50vh;
  width: 25vw;
}

.eco-friendly-materials {
  background-image: url('images/eco_friendly_terra.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -1.7rem -3rem;
  height: 50vh;
  width: 25vw;
}
.award-winning {
  background-image: url('images/terrarium_row.jpeg');
  background-size: 20% 150%;
  background-size: cover;
  background-position: -1.7rem -3rem;
  height: 50vh;
  width: 25vw;
}

.standout-square p {
  text-align: center;
  margin-top: 16.3rem;
  padding: 1.7rem;
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  background-color: #B39C4D;
  color: white;
}

.featured-plant-section {
  display: flex;
}

.featured-info {
  text-align: center;
}

.featured-info .heading {
  font-weight: bolder;
  font-size: larger;
}

.featured-info, .featured-image-container {
  text-align: center;
  padding: 4rem 0rem 15rem 0rem;
  border: 1px solid black;
  width: 50%;
}

.featured-image-container {
  background-color: #b3b7ad;
}

.featured-info h3, .featured-image-container h3 {
  font-size: 2rem;
}

.featured-image {
  height: 90%;
  width: 40%;
  margin: 1.7rem 0 0 13.5rem;
  background-image: url('images/terrarium_with_blue.jpeg');
  background-size: 120% 100%;
  background-position: -1.2rem 0rem;
  background-color: #fff;
  backdrop-filter: blur(10px);
}

.get-featured-button {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  background-color: rgb(218, 200, 140);
  border-radius: 7px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  border: none;
}

.contact-store-owner-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  width: 70%;
  height: 50%;
}

input {
  width: 50%;
  height: 50%;
}